body{
	margin:0%;
}

.e40_111 { 
	background-image:linear-gradient(0deg, rgba(184.87500607967377, 184.87500607967377, 184.87500607967377, 0) 4.116968065500259%,rgba(140.15385299921036, 140.15385299921036, 140.15385299921036, 0.32377302646636963) 27.973556518554688%,rgba(84.37853068113327, 84.37853068113327, 84.37853068113327, 0.7275762557983398) 76.49977207183838%,rgba(46.75000101327896, 46.75000101327896, 46.75000101327896, 1) 98.53081703186035%) ;
	overflow:hidden;
	width:100%;
	height:100%;
	position:absolute;
}
.e40_112 {  
	width:100%;
	height:80%;
	position:absolute;
	left:0%;
	top:20%;
	background-image:url(../images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e40_113 { 
	background-color:rgba(88.18749949336052, 88.18749949336052, 88.18749949336052, 1);
	width:60%;
	height:80%;
	position:absolute;
	left:22%;
	top:15%
}
.e40_114 { 
	background-color:rgba(58.4375012665987, 55.2721381187439, 55.2721381187439, 1);
	width:145px;
	height:43px;
	position:absolute;
	left:69%;
	top:88%;
}
.e40_115 { 
	color:rgba(255, 255, 255, 1);
	width:146px;
	height:40px;
	position:absolute;
	left:70%;
	top:88%;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e40_117 { 
	color:rgba(253.93750101327896, 253.93750101327896, 253.93750101327896, 0.6899999976158142);
	width:385px;
	height:79px;
	position:absolute;
	left:8%;
	top:6%;
	font-family:Inter; 
	text-align:left;
	font-size:42px;
	letter-spacing:0;
}
.e40_118 { 
	width:6%;
	height:13%;
	position:absolute;
	left:2%;
	top:2%;
	background-image:url(../images/logo_removebg_preview_2.png);
	background-repeat:no-repeat;
	background-size:cover;
	filter: contrast(0);
}/*
.e40_119 { 
	color:rgba(88.18749949336052, 88.18749949336052, 88.18749949336052, 1);
	width:128px;
	height:40px;
	position:absolute;
	left:0%;
	top:0%;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}*/
.e40_120 { 
	color:rgba(88.18749949336052, 88.18749949336052, 88.18749949336052, 1);
	width:201px;
	height:48px;
	position:absolute;
	left:600px;
	top:464px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e40_121 { 
	color:rgba(255, 255, 255, 1);
	width:562px;
	height:59px;
	position:absolute;
	left:48.5%;
	top:16%;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e40_122 { 
	color:rgba(255, 255, 255, 1);
	width:154px;
	height:40px;
	position:absolute;
	left:50%;
	top:26%;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e40_132 { 
	color:rgba(255, 255, 255, 1);
	width:189px;
	height:47px;
	position:absolute;
	left:50%;
	top:42%;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e40_135 { 
	color:rgba(255, 255, 255, 1);
	width:303px;
	height:55px;
	position:absolute;
	left:50%;
	top:62.5%;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e40_126 { 
	width:1440px;
	height:1242px;
	position:absolute;
	left:1481px;
	top:-201px;
	background-image:url(../images/logo_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e40_127 { 
	width:26%;
	height:80%;
	position:absolute;
	left:22%;
	top:15%;
	background-image:url(../images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e40_136 { 
	background-color:rgba(46.75000101327896, 46.75000101327896, 46.75000101327896, 1);
	width:410px;
	height:48px;
	position:absolute;
	left:50%;
	top:32.5%;
}
.e40_137 { 
	background-color:rgba(46.75000101327896, 46.75000101327896, 46.75000101327896, 1);
	width:410px;
	height:87px;
	position:absolute;
	left:50%;
	top:48.5%;
}
.e40_138 { 
	background-color:rgba(46.75000101327896, 46.75000101327896, 46.75000101327896, 1);
	width:410px;
	height:110px;
	position:absolute;
	left:50%;
	top:69%;
}
